@import 'jeet'

// Identify Colors

lightblue = #A1FEFF
lightgreen = #B2F8ED
bpsplit = 1/10
awesomeDarkPurple = #282738
awesomeLightPurple = #38384F
awesomeBrown = #C2ADAC
awesomeDarkBrown = #AF9E9E
fancypink = #fc0369
awesomeDarkPurpleII = #1d1d28
awesomeDarkPurpleIII = #121219
awesomeDarkPurpleIV = #212133

// Font related

@font-face
	font-family zagBold
	src url(/static/assets/font/ZagBold.otf)

@font-face
	font-family zagRegular
	src url(/static/assets/font/ZagRegular.otf)
	
fontRegular()
	font-family zagRegular !important
	

			